name: 'deployment_pipeline'
# on:
#   push:
#     branches:
#       - main
#     paths-ignore:
#       - 'README.md'
on:
  workflow_dispatch:
    inputs:
      ec2_ip:
        description: 'EC2 public IP for testing'
        required: true
      debug:
        description: 'Enable tmate session for debugging'
        required: false
        default: 'false'

permissions:
  contents: read
  packages: write 

jobs:
  terraform:
    # if: false
    name: 'Terraform'
    runs-on: ubuntu-latest
    outputs:
      instance_public_dns: ${{steps.set_dns.outputs.instance_public_dns}}
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ap-southeast-1
      SSH_PRIVATE_KEY: ${{ secrets.AWS_SSH_PRIVATE_KEY }}

    steps:
    - name: Checkout repo 
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{env.AWS_REGION}}
    
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_wrapper: false
        terraform_version: 1.10.0

    - name: Terraform Init
      id: terraform_init
      run: terraform init
      working-directory: ./aws_cloud

    - name: Configure SSH for runner
      run: |
        mkdir -p ~/.ssh
        echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
    
    - name: Terraform Plan
      id: terraform_plan
      run: terraform plan
      working-directory: ./aws_cloud
    
    - name: Terraform Apply
      id: terraform_apply
      run: terraform apply -auto-approve
      working-directory: ./aws_cloud

    - name: Set output
      id: set_dns
      run: |-
        echo "instance_public_dns=$(terraform output -raw instance_public_ip)" >> $GITHUB_OUTPUT
      working-directory: ./aws_cloud

  docker:
    if: false 
    name: 'Docker'
    runs-on: ubuntu-latest
    env:
      DOCKER_USER: ${{secrets.DOCKER_USER}}
      DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
    strategy:
      matrix:
        service: [backend, frontend]

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Log into Docker Hub
      uses: docker/login-action@v3
      with: 
        username: ${{secrets.DOCKER_USER}}
        password: ${{secrets.DOCKER_PASSWORD}}

    - name: Build and push ${{ matrix.service }} images 
      uses: docker/build-push-action@v6
      with:
        context: ./deployment_batch/${{ matrix.service }}
        file: ./deployment_batch/${{ matrix.service }}/Dockerfile
        push: true
        tags: |
          lean24/bbc_${{ matrix.service }}:kubernetes

  helm: 
    if: false
    name: 'Helm'
    runs-on: ubuntu-latest
    needs: docker
    env:
      REGISTRY: ghcr.io
      OWNER: ${{ github.repository_owner }}
      CHART_NAME: bbc-news-app

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Set up Helm
      uses: azure/setup-helm@v4.3.0
      with:
        version: '3.17.3'

    - name: Helm login to GitHub Container Registry
      run: |
        echo ${{ secrets.GITHUB_TOKEN }} | helm registry login $REGISTRY -u $OWNER --password-stdin

    - name: Package and Push Chart
      run: |
        helm package ./helm-charts
        helm push ${CHART_NAME}-*.tgz oci://$REGISTRY/$OWNER/bbc-app-charts 

  deployment:
    name: 'Deploy to EC2 k3s'
    runs-on: ubuntu-latest
    # needs: [terraform, helm]
    needs: terraform
    env:
      REGISTRY: ghcr.io
      OWNER: ${{ github.repository_owner }}
      CHART_NAME: bbc-news-app
      SSH_PRIVATE_KEY: ${{ secrets.AWS_SSH_PRIVATE_KEY }}
      EC2_IP: ${{ needs.terraform.outputs.instance_public_dns }}
      # EC2_IP: ${{ github.event.inputs.ec2_ip }} 

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
    
    - name: Set up Helm
      uses: azure/setup-helm@v4.3.0
      with:
        version: '3.17.3'
    
    - name: Configure SSH for runner
      run: |
        mkdir -p ~/.ssh
        echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan -H $EC2_IP >> ~/.ssh/known_hosts

    - name: Copy and set kubeconfig in runner
      run: | 
        echo "$(date) - Attempting SCP"
        scp -o StrictHostKeyChecking=no ec2-user@$EC2_IP:/etc/rancher/k3s/k3s.yaml ./k3s.yaml
        sed -i "s/127.0.0.1/$EC2_IP/" ./k3s.yaml

    - name: Debug via tmate
      if: ${{ github.event.inputs.debug == 'true' }}
      uses: mxschmitt/action-tmate@v3
    
    - name: Check the kubeconfig in runner
      run: | 
        ls -l ./k3s.yaml
        cat ./k3s.yaml | head -n 10
        echo $KUBECONFIG
        cat $KUBECONFIG | head -n 5
        kubectl --kubeconfig=$(pwd)/k3s.yaml --insecure-skip-tls-verify get nodes -v=8
        curl -vk https://$EC2_IP:6443

    - name: Debug helm binary
      run: |
        which helm
        helm version
        ls -l $(which helm)

    - name: Helm login to GitHub Container Registry
      run: |
        helm version 
        export HELM_EXPERIMENTAL_OCI=1
        echo ${{ secrets.GITHUB_TOKEN }} | helm registry login $REGISTRY -u $OWNER --password-stdin

    - name: Install the helm chart 
      run: |
        export HELM_EXPERIMENTAL_OCI=1
        which helm
        ls -l $(which helm)
        helm version
        helm upgrade --install bbc-deploy \
        oci://$REGISTRY/$OWNER/bbc-app-charts/$CHART_NAME \
        --kubeconfig=$(pwd)/k3s.yaml \
        --insecure-skip-tls-verify \
        --version 0.1.0
